body {
  display: flex;       
  flex-direction: column;
  background-color: white;
  margin: 0;
  min-height: 900px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}

.logo {
  position: sticky;
  cursor: default;
  font-family: "Zen Dots", sans-serif;
  font-size: 30px;
  margin: 0;
  color: black;
  text-decoration: none;
}

.seperated-navbar {
  position: sticky;
  background-color: #f7f7f5;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  padding: 5px 15px; 
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2); 
}

ul {
  display: flex;
  gap: 5px; 
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

ul li {
  font-family: "Google Sans Flex", sans-serif;
  border-radius: 8px;
  transition: 0.2s;
}

ul li a {
  display: block;
  padding: 8px 18px; 
  text-decoration: none;
  color: #111;
}

ul li:hover {
  background-color: #e2e2e2;
}

.loginFlexbox {
  display: flex;
  justify-content: center;
  margin-right: 40px;
  margin-left: 40px;
}

#timer-display {
  font-family: "Jetbrains-Mono", monospace;
  font-weight: 400;
  color: #222;
}

@media (max-width: 650px) {
  .logo {
    font-size: 24px;
    padding-left: 10px; 
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .loginFlexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 750px) {
  .loginFlexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}


.Division {
  display: flex;
  flex-direction: column;
  border: 2px solid black; 
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  min-height: 180px;
  width: 333px;
  border-radius: 5px;
  margin: 15px;
}

.largeText, #accountResult, #loginResult {
  font-family: "Jetbrains Mono", monospace;
  font-weight: 600;
  text-align: center;
}

.smallText {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.enter {
  background-color: transparent;
  align-self: center;
  color: #222;
  font-family: monospace;
  text-align: center;
  border: 1px solid #222;
  border-radius: 20px;
  padding: 8px 16px;
  margin-top: auto; 
  margin-bottom: 5px;
}

.enter:hover {
  background-color: #222; 
  color: #fff;            
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1); 
}

.flex {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: center;
}

.questionButton {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 15px;
  color: #222;
  background-color: transparent;
  font-family: "Space Mono", monospace; 
  border-radius: 20px;
  padding: 10px;
  box-shadow:  -3px 3px 5px rgba(0,0,0,0.2);
  width: 400px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.questionButton.selected, .questionButton.selected:hover {
  background-color: #444 !important;
  color: #fff !important;
  outline: 3px solid #00aaff !important;
}

.questionButton:hover {
  background-color: #222;
  color: white;
}

#userName, #passWord, #userNameConfirm, 
#passWordConfirm {
  font-family: "Jetbrains Mono", sans-serif;
  margin-top: 15px; 
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #111;
  outline: none;
}

#userName:focus, #passWord:focus {
  border-bottom: 3px solid #111;
}
 
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 3px #333;
  border: 1px solid #111;
  background-color: transparent;
  width: 325px;
  height: auto;
  border-radius: 5px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 40px;
}

.loginTitle {
  text-align: center;
  font-family: "Zen Dots", sans-serif;
  color: #222;
}

footer {
  justify-self: center;
  margin-top: auto;
}

.loginEnter {
  background-color: transparent;
  align-self: center;
  color: #222;
  font-family: monospace;
  text-align: center;
  border: 1px solid #222;
  border-radius: 20px;
  padding: 8px 16px;
  margin-top: auto; 
  margin-bottom: 5px;
}

.loginEnter:hover {
  background-color: #222; 
  color: #fff;            
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

#finalSubmission {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
  background-color: #222;
  font-family: "Space Mono", monospace; 
  border-radius: 20px;
  padding: 10px;
  box-shadow:  -3px 3px 5px rgba(0,0,0,0.2);
  width: 150px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 5px;
}

#scoreResult {
  font-family: "Jetbrains Mono", monospace;
  text-align: center;
}
