.container {
  display: flex;
}

.logo {
  font-family: "Bungee Hairline", sans-serif;
  float: left;
  font-size: 40px;
  margin: 0;
}

ul {
display: flex;
    gap: 20px;   
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li {
  list-style-type: none;
  text-decoration: none;
}

.seperated-navbar {
  background-color: #E4E4E4;
  border-radius: 5px;
}
